form{
  width: 30%;
  height: 170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
input{
  width: 250px;
  height: 25px;
  border: 0px;
  border-bottom: 3px solid black;
  outline: none;
}
input:focus{
  border-bottom-color: coral;
}
input:focus::-webkit-input-placeholder{
  width: 10px;
  transition: 2s;
  padding-left: 255px;
  transform: rotateX(-360deg);
}
button{
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
}
.div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  width: 50%;
  height: 35px;
  background-color: coral;
  margin-top: -5px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px;
}
.delete{
  background-image: url(delete.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
}